# Node / npm
node_modules/
Youtube_Software/frontend/node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
backend/.venv/
Youtube_Software/backend/.venv/

# Virtual environments
.venv/
venv/
backend/.venv/
Youtube_Software/backend/.venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
